/* COMMON CSS */
body {
  background-color: #f8f8f8;
}

.section-subtilte {
  color: #0779e4;
  text-align: center;
  font-size: 12px;
}

.section-title {
  font-size: 1.7rem;
  text-align: center;
}

.section {
  padding-top: 3%;
  padding-bottom: 4%;
}
.services-section {
  padding-top: calc(3% + 48px);
}
p {
  color: #999;
}
/* HEADER SECTION */
header {
  background-color: rgb(7, 121, 228);
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  /* padding: 1em 0; */
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  /* border: 1px solid #000; */
  padding: 0.6em 1.2em;
  display: inline-block;
}

.logo {
  font-size: 30px;
  display: inline-block;
  padding: 0.2em 0;
}

.nav-link:hover {
  background-color: hsl(209, 94%, 76%);
}

/* services section */
.services-cards {
  display: flex;
  gap: 10px;
  padding: 2rem 0;
}

.services-cards i {
  font-size: 4em;
  color: rgb(7, 121, 228);
}
.services-cards .card {
  background-color: #fff;
  flex-basis: 33%;
  padding: 40px;
  line-height: 1.7;
}

.card-title,
.card-link {
  color: #0779e4;
}

/* ACHIEVEMENTS SECTION */

.achievements {
  /* background-color: #0779e4; */
  /* background-image: url(./bg.webp); */
  background-image: linear-gradient(
      to right,
      rgba(7, 121, 228, 0.4),
      rgba(7, 121, 228, 0.8)
    ),
    url(./bg.webp);
  background-size: cover;
}

.points-section {
  display: flex;
  justify-content: space-evenly;
  padding: 3em 0;
}

.point {
  flex-basis: 25%;
  display: flex;
  align-items: center;
}

.point p,
.point h1 {
  color: white;
  margin-bottom: 0;
}

.point div {
  padding-left: 1em;
}

.point i {
  font-size: 4em;
  color: white;
}

/* PORTFOLIO SECTION */

.pics-section {
  display: flex;
  gap: 20px;
  flex-flow: row wrap;
}

.bcg-img:nth-child(n) {
  background-image: url(./pic1.jpg);
}
.bcg-img:nth-child(3n-2) {
  background-image: url(./pic2.jpg);
}

.bcg-img {
  flex-basis: 45%;
  flex-grow: 1;
  height: 400px;
  color: white;
  background-size: cover;
  background-position: center;
}

.bcg-img p {
  color: white;
  opacity: 0.8;
  width: 100%;
  line-height: 400px;
  /* padding: auto 0; */
  text-align: center;
  /* margin-bottom: 0; */
}
.bcg-img p:hover {
  color: white;
  background-color: rgba(7, 121, 228, 0.8);
  opacity: 1;
}
/* USER SECTION */

.user-cards {
  display: flex;
  gap: 10px;
}

.u-card {
  flex-basis: 33%;
  padding: 20px;
  background-color: #fff;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}

.round {
  border-radius: 50%;
}
.img {
  width: 80px;
  height: 80px;
  flex-basis: 30%;
  position: relative;
}

.u-title {
  flex-basis: 60%;
  flex-grow: 1;
}

.u-title > * {
  margin-bottom: 0;
  text-align: left;
}

.u-quote {
  padding: 6px;
  background-color: #0779e4;
  color: white;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* BLOG SECTION */
.blog-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-end;
}

.blog {
  flex-basis: 31.9%;
  flex-grow: 1;
  background-color: #fff;
  padding: 20px;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.half {
  flex-basis: 40%;
}

.same {
  flex-grow: 0;
}
.blog-img {
  height: 10em;
  /* background-image: url(./blog1.webp); */
}

.blog-img img {
  height: 100%;
}
