header {
  background-color: rgb(7, 121, 228);
  color: white;
  /* padding: 1em 0; */
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  /* border: 1px solid #000; */
  padding: 0.6em 1.2em;
  display: inline-block;
}

.logo {
  font-size: 30px;
  display: inline-block;
  padding: 0.2em 0;
}

.nav-link:hover {
  background-color: hsl(209, 94%, 76%);
}
