/* COMMON CSS */
body {
  background-color: lightblue;
}

.section-subtilte {
  color: #0779e4;
  text-align: center;
  font-size: 12px;
}

.section-title {
  font-size: 1.7rem;
  text-align: center;
}

.section {
  padding-top: 3%;
  padding-bottom: 4%;
}

/* HEADER SECTION */
header {
  background-color: rgb(7, 121, 228);
  color: white;
  /* padding: 1em 0; */
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  /* border: 1px solid #000; */
  padding: 0.6em 1.2em;
  display: inline-block;
}

.logo {
  font-size: 30px;
  display: inline-block;
  padding: 0.2em 0;
}

.nav-link:hover {
  background-color: hsl(209, 94%, 76%);
}

/* services section */
.services-cards {
  display: flex;
}

.services-cards .card {
  background-color: #fff;
  flex-basis: 33%;
  padding: 1.5em;
}

.card-title,
.card-link {
  color: #0779e4;
}
